@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap);
/*==============================================================================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans";
  font-weight: 600;
}
html._lock,
body._lock {
  overflow: hidden;
}

li {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: inherit;
}

/*==================================*/
/*import modules*/
.spoiler {
  width: calc(
        310px + 216 * ((100vw - 320px) / 1600)
      );
}

.spoiler__item {
  margin: 0 0 20px 0;
  width: 100%;
  background-color: rgba(213, 98, 29, 0.1);
  border-radius: 0.3125rem;
  transition: all 0.3s;
}

.spoiler__item.active {
  margin: 0 0 20px 0;
  width: 100%;
  background-color: #D5621D;
  transition: all 0.3s;
}

.spoiler__title {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  color: var(--white, #FFF);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.0563rem;
  text-transform: uppercase;
}

.spoiler__title::before,
.spoiler__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  transition: all 0.3s;
}

.spoiler__title::before {
  transform: rotate(48deg);
  right: 40px;
}

.spoiler__title::after {
  transform: rotate(-48deg);
  right: 46px;
}

.spoiler__text {
  display: none;
  color: var(--white, #FFF);
  font-size: 14px;
  line-height: 150%;
  padding: 0.625rem 4.4375rem 1.5625rem 2.5rem;
}

.spoiler__title.active::before {
  transform: rotate(-48deg);
  right: 40px;
}

.spoiler__title.active::after {
  transform: rotate(48deg);
  right: 46px;
}

/*==============================================================================================*/
#preloader {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

[class*=__container] {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0px 15px;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #210E09;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.main {
  margin-top: calc(
        76px + 64 * ((100vw - 320px) / 1600)
      );
  flex: 1 1 auto;
}

.footer {
  width: 100%;
}

a,
a > span {
  position: relative;
}
a:before, a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.42s ease;
}

.icon-menu {
  display: none;
}
@media (max-width: 49.8125rem) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.125rem;
    background-color: transparent;
  }
  .icon-menu__line, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 0.125rem;
    width: 100%;
    left: 0;
    transition: 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu__line {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .menu {
    left: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu__line {
    left: 50%;
    width: 0;
  }
  .menu-open .header__logo {
    display: inline-block;
  }
  .menu-open .header__button {
    display: none;
  }
  .menu-open .header::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4rem;
    left: 0;
    top: 0;
    background-color: #210e09;
    z-index: 2;
  }
}
.border-btn {
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  padding-top: calc(
        10px + 5 * ((100vw - 320px) / 1600)
      );
  padding-bottom: calc(
        10px + 5 * ((100vw - 320px) / 1600)
      );
  padding-right: calc(
        15px + 15 * ((100vw - 320px) / 1600)
      );
  padding-left: calc(
        15px + 15 * ((100vw - 320px) / 1600)
      );
  border: 0.125rem solid #d5621d;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background-color 0.3s;
  background-color: transparent;
}
.border-btn:hover {
  transition: background-color 0.3s;
  background-color: rgba(213, 99, 29, 0.2823529412);
}

.header {
  z-index: 4;
  position: fixed;
  background-color: #210e09;
}
.header__body {
  margin-top: calc(
        16px + 14 * ((100vw - 320px) / 1600)
      );
  margin-bottom: calc(
        16px + 14 * ((100vw - 320px) / 1600)
      );
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  cursor: pointer;
  position: relative;
  z-index: 5;
}
@media (max-width: 27.4375rem) {
  .header__logo {
    display: none;
  }
}
.menu-open body {
  overflow: hidden;
}

.menu__list {
  display: flex;
  -moz-column-gap: calc(
        8px + 22 * ((100vw - 320px) / 1600)
      );
       column-gap: calc(
        8px + 22 * ((100vw - 320px) / 1600)
      );
  row-gap: 0.625rem;
  flex-wrap: wrap;
}
.menu__link {
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 150%;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 0.3125rem 0.625rem;
}
.menu__link:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background: #d5621d;
  transform: scaleX(0);
}
.menu__link:hover:before {
  transform: scaleX(1);
}
@media (max-width: 49.8125rem) {
  .menu {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    background-color: #210e09;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  .menu__list {
    display: block;
  }
  .menu__list > li {
    padding: 0.75rem;
    text-align: center;
  }
  .menu__link {
    font-size: 1.5rem;
  }
}

.nearestAndSoon__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media (max-width: 70rem) {
  .nearestAndSoon__container {
    flex-direction: column;
    align-items: center;
  }
}
.mainTitle {
  height: 33.75rem;
  width: 53.5rem;
  background: url(./../../../img/firstBlock/since.png);
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  display: flex;
  align-items: end;
}
@media (max-width: 70rem) {
  .mainTitle {
    height: 30rem;
  }
}
@media (max-width: 54.9375rem) {
  .mainTitle {
    width: 100%;
  }
}
.mainTitle__items {
  margin-bottom: calc(
        15px + 30 * ((100vw - 320px) / 1600)
      );
  margin-left: calc(
        20px + 40 * ((100vw - 320px) / 1600)
      );
}
.mainTitle__button {
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  padding: 0.625rem 1.25rem 0.4375rem;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  color: #210e09;
  text-transform: uppercase;
  transition: all 0.2s;
}
.mainTitle__button:hover {
  transition: all 0.2s;
  background-color: rgb(77, 51, 36);
  color: #ffffff;
}
.mainTitle__title {
  font-weight: 400;
  color: #fff;
  font-size: 2.5rem;
  line-height: 150%;
}

.switcher {
  max-height: 33.75rem;
  height: 100%;
  max-width: 26rem;
  border-radius: 0rem 0rem 0.3125rem 0.3125rem;
}
@media (max-width: 70rem) {
  .switcher {
    max-width: 100%;
  }
}
.switcher__buttons {
  display: flex;
}
.switcher__button {
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 150%;
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4375rem 0.625rem;
  letter-spacing: 0.1em;
  background: rgba(213, 98, 29, 0.05);
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s;
}
.switcher__button:hover {
  transition: background-color 0.2s;
  background: rgba(213, 98, 29, 0.03);
}
.switcher__button.active {
  background: rgba(213, 98, 29, 0.1);
}
.switcher__body {
  background: rgba(213, 98, 29, 0.1);
  margin: 0 auto;
  border-radius: 0rem 0rem 0.3125rem 0.3125rem;
  height: 100%;
}
.switcher__block {
  -moz-column-gap: 1.625rem;
       column-gap: 1.625rem;
  row-gap: 1.625rem;
  padding: 2.4375rem 1rem;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
@media (max-width: 70rem) {
  .switcher__block {
    overflow-x: auto;
    padding-top: calc(
        12px + 27 * ((100vw - 320px) / 1600)
      );
    padding-bottom: calc(
        12px + 27 * ((100vw - 320px) / 1600)
      );
    padding-left: calc(
        8px + 8 * ((100vw - 320px) / 1600)
      );
    padding-right: calc(
        8px + 8 * ((100vw - 320px) / 1600)
      );
  }
}
.switcher__block > img {
  transition: transform 0.35s;
  cursor: pointer;
}
.switcher__block > img:hover {
  transform: scale(1.1);
}

.nearest {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}
.nearest.active {
  display: flex;
}
@media (max-width: 70rem) {
  .nearest.active {
    display: none;
  }
}
@media (max-width: 70rem) {
  .nearest {
    display: block;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

.soon {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}
.soon.active {
  display: flex;
}
@media (max-width: 70rem) {
  .soon.active {
    display: none;
  }
}
@media (max-width: 70rem) {
  .soon {
    display: block;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

/*==============================================================================================*/
/*==============================================================================================*/
.toptitle {
  display: flex;
  justify-content: center;
}
.toptitle > h2 {
  padding: 0.625rem 1.25rem;
  background: #ffffff;
  border-radius: 0.3125rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #210e09;
}

.bottomtitle {
  margin-top: calc(
        20px + 25 * ((100vw - 320px) / 1600)
      );
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.kitchen {
  margin-top: calc(
        64px + 48 * ((100vw - 320px) / 1600)
      );
}
.kitchen__all-menu-button {
  margin-top: calc(
        40px + 56 * ((100vw - 320px) / 1600)
      );
  display: flex;
  justify-content: center;
}

.fill-btn {
  cursor: pointer;
  color: var(--white, #fff);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.0563rem;
  text-transform: uppercase;
  border-radius: 5px;
  background: var(--accent, #D5621D);
  padding: 0.9375rem 1.875rem;
  text-align: center;
  transition: background-color 0.3s;
}
.fill-btn:hover {
  transition: background-color 0.3s;
  background-color: #a84203;
}

.kitchen__swiper-container {
  position: relative;
  padding: 0px 3.75rem 0px 3.75rem;
}
@media (max-width: 45.5625rem) {
  .kitchen__swiper-container {
    padding: 0px 0px 3.75rem 0px;
  }
}
.kitchen-swiper {
  margin-top: calc(
        40px + 40 * ((100vw - 320px) / 1600)
      );
  overflow: hidden;
  position: relative;
}
.kitchen-swiper__slide {
  width: 50%;
}
@media (max-width: 27.4375rem) {
  .kitchen-swiper__slide {
    width: 100%;
  }
}
.kitchen-swiper__item {
  justify-content: center;
}
@media (max-width: 62.4375rem) {
  .kitchen-swiper__item {
    flex-direction: column;
  }
}
.kitchen-swiper__button-prev {
  left: 0;
}
@media (max-width: 45.5625rem) {
  .kitchen-swiper__button-prev {
    left: 30%;
  }
}
.kitchen-swiper__button-next {
  right: 0;
}
@media (max-width: 45.5625rem) {
  .kitchen-swiper__button-next {
    right: 30%;
  }
}
.kitchen-swiper__button-general {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  background-color: #d5621d;
  color: #ffffff;
  font-size: 1.25rem;
  transition: background-color 0.3s;
}
.kitchen-swiper__button-general::after {
  display: none;
}
@media (max-width: 45.5625rem) {
  .kitchen-swiper__button-general {
    top: calc(100% - 2rem);
  }
}
.kitchen-swiper__button-general:hover {
  transition: background-color 0.3s;
  background-color: #a84203;
}

.food {
  display: flex;
  align-items: center;
}
.food__img {
  width: 6.875rem;
  height: 6.875rem;
}
.food__description {
  margin-left: 1.5625rem;
}
@media (max-width: 62.4375rem) {
  .food__description {
    margin: 1rem 0 0 0;
  }
}

.food-desctiption__title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 27.4375rem) {
  .food-desctiption__title-price {
    display: block;
    text-align: center;
  }
}
.food-desctiption__wt {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #d5621d;
}
@media (max-width: 31.1875rem) {
  .food-desctiption__wt {
    font-size: 0.75rem;
  }
}
.food-desctiption__text {
  margin-top: 0.625rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}
@media (max-width: 31.1875rem) {
  .food-desctiption__text {
    font-size: 0.75rem;
  }
}

.title-price__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 31.1875rem) {
  .title-price__title {
    font-size: 0.875rem;
  }
}
.title-price__price {
  padding: 0.375rem 1.25rem;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 31.1875rem) {
  .title-price__price {
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
    border: 1px solid #d5621d;
  }
}

/*==============================================================================================*/
.events-tourists {
  margin-top: calc(
        70px + 80 * ((100vw - 320px) / 1600)
      );
}
.events-tourists__container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 43.6875rem) {
  .events-tourists__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
  }
}
.events-tourists__cross {
  max-width: 28.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: calc(
        20px + 24 * ((100vw - 320px) / 1600)
      );
  padding-left: calc(
        20px + 24 * ((100vw - 320px) / 1600)
      );
}
@media (max-width: 74.9375rem) {
  .events-tourists__cross {
    max-width: 38.75rem;
  }
}
@media (max-width: 43.6875rem) {
  .events-tourists__cross {
    padding: 0;
  }
}
.events-tourists__texts {
  margin-top: calc(
        24px + 11 * ((100vw - 320px) / 1600)
      );
  color: var(--white, #fff);
  text-align: center;
  font-size: 0.875rem;
  line-height: 150%;
}
.events-tourists__texts > p:not(:last-child) {
  margin-bottom: calc(
        18px + 12 * ((100vw - 320px) / 1600)
      );
}
.events-tourists__more-btn {
  margin-top: calc(
        24px + 11 * ((100vw - 320px) / 1600)
      );
  display: flex;
  justify-content: center;
}
@media (max-width: 74.9375rem) {
  .events-tourists__img {
    display: none;
  }
}
.techrider {
  margin-top: calc(
        70px + 80 * ((100vw - 320px) / 1600)
      );
}
.techrider__content {
  margin-top: calc(
        20px + 60 * ((100vw - 320px) / 1600)
      );
  display: flex;
  justify-content: space-around;
}
@media (max-width: 44.3125rem) {
  .techrider__content {
    flex-direction: column-reverse;
  }
}
@media (max-width: 44.3125rem) {
  .techrider__spoilers {
    margin-top: 2.5rem;
  }
}
@media (max-width: 44.3125rem) {
  .techrider__sound-engineer {
    margin: 0 auto;
  }
}

@media (max-width: 44.3125rem) {
  .spoiler {
    width: 100%;
  }
}
.sound-engineer {
  max-width: 27.5rem;
  padding-left: 0.9375rem;
}
@media (max-width: 44.3125rem) {
  .sound-engineer {
    padding-left: 0;
  }
}
.sound-engineer__title {
  color: var(--white, #FFF);
  text-align: center;
  font-size: calc(
        28px + 4 * ((100vw - 320px) / 1600)
      );
  line-height: 150%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.sound-engineer__authors {
  margin-top: calc(
        30px + 20 * ((100vw - 320px) / 1600)
      );
  display: flex;
  justify-content: center;
  row-gap: 1.5625rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  flex-wrap: wrap;
}
.author {
  text-align: center;
}
.author__name {
  margin-top: calc(
        15px + 15 * ((100vw - 320px) / 1600)
      );
  color: var(--white, #FFF);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.0437rem;
  text-transform: uppercase;
}
.author__socials {
  margin-top: calc(
        12px + 13 * ((100vw - 320px) / 1600)
      );
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  -moz-column-gap: 1.5625rem;
       column-gap: 1.5625rem;
}
.socials__vk {
  padding: 0.375rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__tg {
  padding: 0.375rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: calc(
        64px + 36 * ((100vw - 320px) / 1600)
      );
}
.footer__container {
  opacity: 0.5;
}
.footer__border {
  border-top: 1px solid #FFFFFF;
}
.footer__items {
  padding: 1.875rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */