.footer {
    @include adaptivValue("margin-top", 100, 50, 0);
    &__container {
        opacity: 0.5;       
        
    }

    &__border{
        border-top: 1px solid #FFFFFF;
    }

    &__items {
        padding: 1.875rem 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
    
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 150%;
                
        color: #FFFFFF;
    }
}


.abc {
    display: flex;
    gap: .625rem;
    align-items: center;
    cursor: pointer;
    &__gif {
        background-color: transparent;
        display: none;
    }
    &:hover{
        color: rgb(142, 85, 11);
        .abc__png {
            background-color: transparent;
            display: none;
        }
        .abc__gif {
            display: inline;
        }

    }
    &__png {

    }
}
