.kitchen {
    @include adaptivValue("margin-top", 112, 64, 0);
    &__container {
    }

    &__toptitle {
        display: flex;
        justify-content: center;
        & > h2 {
            padding: 0.625rem 1.25rem;
            background: #ffffff;
            border-radius: 0.3125rem;
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 150%;

            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #210e09;
        }
    }

    &__bottomtitle {
        @include adaptivValue("margin-top", 45, 20, 0);

        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }

    &__swiper {
    }

    &__item { 
        max-width: 30.375rem;


    }
}
/*==============================================================================================*/
.kitchen-swiper {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.food {
    display: flex;
    align-items: center;
    
    &__img {
        width: 6.875rem;
        height: 6.875rem;
        & > img {
        }
    }

    &__description {
        height: 100%;
        width: 100%;
        margin-left: 1.5625rem;
    }
}
.food-desctiption {
    &__title-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wt {
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 150%;

        color: #d5621d;
    }

    &__text {
        margin-top: 0.625rem;

        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 150%;

        color: #ffffff;
    }
}
.title-price {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 150%;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }

    &__price {
        padding: .375rem 1.25rem;
        border: 2px solid #d5621d;
        border-radius: 5px;

        font-style: normal;
        font-weight: 700;
        font-size: .875rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
