.kitchen {
    @include adaptivValue("margin-top", 112, 64, 0);
 
    &__container {
    }

    &__toptitle {
        display: flex;
        justify-content: center;
        & > h2 {
            padding: 0.625rem 1.25rem;
            background: #ffffff;
            border-radius: 0.3125rem;
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 150%;

            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #210e09;
        }
    }

    &__bottomtitle {
        @include adaptivValue("margin-top", 45, 20, 0);

        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }

    &__swiper {
    }
}
.kitchen-swiper {
    @include adaptivValue('margin-top', 80, 40, 0);

    overflow: hidden;
    position: relative;

    &__wrapper {
    }

    &__slide {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        row-gap: 3.5rem;
        column-gap: 6.25rem;

        padding: 0 60px 0 60px;
        @media (max-width: 45.5625rem) {
            padding: 0;
        }
        


        @include adaptivValue('row-gap', 56, 24, 0);
        @include adaptivValue('column-gap', 100, 40, 0);
    }

    &__item { 
        max-width: 30.375rem;

            
        @media (max-width: 74.9375rem) {
            flex-direction: column;
            max-width: 16.25rem;
        }
    }
    &__button-prev {
        left: 0;
        @media (max-width: 45.5625rem) {
            left: 30%;
        }
    }

    &__button-next {
        right: 0;
        @media (max-width: 45.5625rem) {
            right: 30%;
        }
    }

    &__button-general{
        width: 3.125rem;
        height: 3.125rem;
        border-radius: .3125rem;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        background-color: #d5621d;
        color: #ffffff;

        font-size: 1.25rem;

        &::after {
            display: none;
        }

        @media (max-width: 45.5625rem) {
            top: calc(100% - 6rem/3);
        }
        transition: background-color 0.2s;
        &:hover{
            transition: background-color 0.2s;
            background-color: #a84203;
        }
    }
    @media (max-width: 45.5625rem) {
        padding-bottom: 6rem;
    }
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.food {
    display: flex;
    align-items: center;
    
    &__img {
        width: 6.875rem;
        height: 6.875rem;
        & > img {
        }
    }

    &__description {
        margin-left: 1.5625rem;
        @media (max-width: 74.9375rem) {
            margin: 1rem 0 0 0;
        }
    }
}

.food-desctiption {
    &__title-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wt {
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 150%;

        color: #d5621d;
    }

    &__text {
        margin-top: 0.625rem;

        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 150%;

        color: #ffffff;
    }
}
.title-price {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 150%;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }

    &__price {
        padding: .375rem 1.25rem;
        border: 2px solid #d5621d;
        border-radius: 5px;

        font-style: normal;
        font-weight: 700;
        font-size: .875rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }
}
.swiper-button-prev {

}
.swiper-button-next {

}
