.toptitle {
    display: flex;
    justify-content: center;
    & > h2 {
        padding: 0.625rem 1.25rem;
        background: #ffffff;
        border-radius: 0.3125rem;
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 150%;

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #210e09;
    }
}

.bottomtitle {
    @include adaptivValue("margin-top", 45, 20, 0);

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
}

.kitchen {
    @include adaptivValue("margin-top", 100, 50, 0);

    &__container {
    }

    &__all-menu-button {
        @include adaptivValue('margin-top', 96, 40, 0);
        display: flex;
        justify-content: center;
    }
}

.fill-btn {
    cursor: pointer;

    color: var(--white, #fff);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: .0563rem;
    text-transform: uppercase;

    border-radius: 5px;
    background: var(--accent, #D5621D);
    padding: .9375rem 1.875rem;
    text-align: center;

    transition: background-color 0.3s;
    &:hover{
        transition: background-color 0.3s;
        background-color: #a84203;
    }
}
